body{
    background: #cfd8dc;
}

.container {
    background: white;
    width: 470px;
}

.fit-image{
    width: 100%;
    object-fit: cover;
    height: 300px; /* only if you want fixed height */
}

#totalUang{
    color: #03a9f4;
    font-size: 18px;
}

.param {
    text-decoration: none;
}

#hashtag{
    font-size: 13px;
}

.blueBg{
    background: rgba(66,165,245,0.3)
}

#hash{
    color: blue;
}

#namaOrg, .rounded-circle{
    float: left;
    padding-left: 3px;
}

#identitas{
    font-size: 13px;
    color : lightslategray;
}